services:
  app:
    build:
      context: .
      # args:
      #   - GIT_REF: __GMT_VAR_NCHASH__
    image: my-nextcloud:master
    restart: unless-stopped
    shm_size: "256m"
    depends_on:
      - db
      # - redis
    environment:
      # REDIS_HOST: redis
      PHP_MEMORY_LIMIT: 512M
      HOST_URL: https://ncs
      NEXTCLOUD_TRUSTED_DOMAINS: ncs
      TRUSTED_PROXIES: ncs
      APACHE_DISABLE_REWRITE_IP: 1
      OVERWRITEPROTOCOL: https
      OVERWRITECLIURL: https://ncs
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud
      MYSQL_HOST: db
    healthcheck:
      test: curl --fail --silent -k https://ncs
      interval: "1h" # effectively turns repeated healthchecks during runtime off
      start_period: "60s"
      start_interval: "1s"


    #volumes:
      # Persist only what should be writable:
      # - nextcloud_data:/var/www/html/data
      # - nextcloud_config:/var/www/html/config
      # - nextcloud_apps:/var/www/html/custom_apps
      # - nextcloud_theme:/var/www/html/themes
    # ports:
    #   - "8080:80" # access at http://localhost:8080
      #- "8443:443"

  # cron:
  #   image: my-nextcloud:master
  #   container_name: nextcloud-cron
  #   restart: unless-stopped
  #   depends_on:
  #     - app
  #   volumes:
  #     - nextcloud_data:/var/www/html/data
  #     - nextcloud_config:/var/www/html/config
  #     - nextcloud_apps:/var/www/html/custom_apps
  #     - nextcloud_theme:/var/www/html/themes
  #   entrypoint: ["/bin/sh","-c"]
  #   command: >
  #     'until [ -f /var/www/html/config/config.php ]; do
  #       echo "Waiting for Nextcloud installation...";
  #       sleep 5;
  #     done;
  #     echo "Nextcloud installed, starting cron loop";
  #     while true; do
  #       su -s /bin/sh -c "php -f /var/www/html/cron.php" www-data;
  #       sleep 300;
  #     done'

  db:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      MARIADB_AUTO_UPGRADE: "1"
      MYSQL_ROOT_PASSWORD: supersecretroot
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud
    command: ["--transaction-isolation=READ-COMMITTED", "--binlog-format=ROW", "--innodb-read-only-compressed=OFF"]
    # volumes:
    #   - db_data:/var/lib/mysql

  ncs:
    image: nginx:1.27.3-bookworm
    ports:
      - "443:443"
    depends_on:
      - app
    volumes:
      - ./nginx-proxy/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx-proxy/cert.crt:/etc/ssl/certs/cert.crt:ro
      - ./nginx-proxy/cert.key:/etc/ssl/private/cert.key:ro